body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling while loading */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: radial-gradient(rgb(192, 187, 187), rgb(18, 18, 22));
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: calc(100vh - 60px); /* Adjust height to account for the navbar */
    width: calc(100vw - 40px);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /* Custom button style for Login button */
  .btnLogin-popup {
    margin: 12px;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* line-height: 60px; */
    vertical-align: middle;
    padding: 0;
    box-sizing: border-box;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
  }

  .btnLogin-popup:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero .btnLogin-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 1;
    margin: 0;
  }
  