#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(192, 187, 187), rgb(18, 18, 22));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Ball animation */
.container {
  --uib-size: 50px;
  --uib-color: rgb(53, 44, 44);
  --uib-speed: 1.2s;
  --uib-bg-opacity: .1;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  will-change: transform;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 25, 75;
  stroke-dashoffset: 0;
  animation: travel var(--uib-speed) linear infinite;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
}

@keyframes travel {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -100; }
}
